<div class="country-detail">
  <div class="row m-0">
    <div class="col-md-8 col-lg-6 mx-auto">
      <notifier-container></notifier-container>

      <div class="title d-flex align-items-center justify-content-center">
        <a (click)="onBack()">
          <img src="/assets/images/back-icon.png" alt="">
        </a>
        <h1>Country</h1>
      </div>

      <form [formGroup]="countryForm" #myform="ngForm">
        <div class="form-group">
          <mat-form-field class="w-100">
            <input matInput placeholder="Country name" formControlName="name" required [readonly]="operation === 'details'">
            <mat-error *ngIf="countryForm.get('name').hasError('required') && (countryForm.get('name').touched || myform.submitted)">
              Country name is required.
            </mat-error>
            <!-- <mat-error *ngIf="countryForm.get('name').hasError('uniqueName') && (countryForm.get('name').touched || myform.submitted)">
              Country name already exists.
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100">
            <input type="number" matInput placeholder="Acreage" formControlName="acreage" required [readonly]="operation === 'details'">
            <mat-error *ngIf="countryForm.get('acreage').hasError('required') && (countryForm.get('acreage').touched || myform.submitted)">
              Acreage is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100">
            <input type="number" matInput placeholder="Population" formControlName="population" required [readonly]="operation === 'details'">
            <mat-error *ngIf="countryForm.get('population').hasError('required') && (countryForm.get('population').touched || myform.submitted)">
              Population is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100">
            <mat-select placeholder="Continent" formControlName="continent" required>
              <mat-option *ngFor="let item of continents" [value]="item" [disabled]="operation === 'details'">
                {{item}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="countryForm.get('continent').hasError('required') && (countryForm.get('continent').touched || myform.submitted)">
              Continent is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="w-100">
            <editor formControlName="describe" [init]="initEditor" [disabled]="operation === 'details'"
            (onKeyDown) = "handleEvent($event)" ></editor>
          </div>
        </div>
        <div class="button" *ngIf="operation === 'details'">
          <button class="edit" mat-raised-button color="warn" (click)="onDelete(country.id)">Delete</button>
          <button class="edit" mat-raised-button color="primary" (click)="onEdit(country.id)">Edit</button>
        </div>
        <div class="button" *ngIf="operation === 'edit'">
          <!-- <button class="reset" mat-raised-button color="accent" (click)="onReset()">Reset</button> -->
          <button class="save" mat-raised-button color="accent" (click)="onUpdate()">Save</button>
        </div>
        <div class="button" *ngIf="operation === 'create'">
          <!-- <button class="reset" mat-raised-button color="accent" (click)="onReset()">Reset</button> -->
          <button class="create" mat-raised-button color="accent" (click)="onCreate()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
