<!-- ng-zorro-antd package -->
<!-- <div class="ng-zorro-antd">
    <nz-date-picker 
      nzFormat="yyyy-MM-dd HH:mm" 
      [nzDisabledDate]="disabledDate" 
      [nzDisabledTime]="disabledDateTime"
      [nzShowTime]="{ nzDefaultOpenValue: timeDefaultValue }" 
      nzPlaceHolder="Date - Time">
    </nz-date-picker>
  </div> -->

<!-- ngx-daterangepicker-material package -->
<div class="ngx-daterangepicker-material">
  <form name="form" #f="ngForm" novalidate>
    <input type="text" class="form-control" name="name" required
    [(ngModel)]="test.name" #name="ngModel">
    <label for="datepicker">
      Date - Time:
    </label>
    <input type="text" name="datepicker" readonly class="form-control" 
      ngxDaterangepickerMd
      [singleDatePicker]="true"
      [linkedCalendars]="true" 
      [showCancel]="true" 
      [showClearButton]="true" 
      [timePicker]="true"
      [timePicker24Hour]="true" 
      [showDropdowns]="true" 
      [timePickerSeconds]="false" 
      [timePickerIncrement]="1" 
      [locale]="locale"
      [(ngModel)]="test.datepicker"
      (change)="change($event)">
    <div *ngIf="isErr">Error</div>
    <button *ngIf="f.form.valid && isErr === false" (click)="save(f.form.value)" class="btn btn-primary">Save</button>
    <button *ngIf="!f.form.valid || isErr === true" class="btn btn-primary">Save</button>
  </form>
  <p>Form: {{ f.form.valid | json }}</p>
</div>

<!-- <div>
  <p>Singapore Time (GMT+8):</p>
  <ul>
    <li *ngFor="let item of list">
      <span>{{item.time | formatUtc}}</span>
    </li>
  </ul>
</div>

<div>Time zone: {{timezone}}</div>
<div>Moment: {{this.moment}}</div> -->
