<div class="row">
  <!-- ng-zorro-antd package -->
  <!-- <div class="col-md-4 ng-zorro-antd">
    <nz-date-picker 
      nzFormat="yyyy-MM-dd HH:mm" 
      [nzDisabledDate]="disabledDate" 
      [nzDisabledTime]="disabledDateTime"
      [nzShowTime]="{ nzDefaultOpenValue: timeDefaultValue }" 
      nzPlaceHolder="Date - Time">
    </nz-date-picker>
  </div> -->

  <!-- ngx-daterangepicker-material package -->
  <div class="col-md-4 ngx-daterangepicker-material">
    <label>
      Date - Time:
      <input type="text" readonly
        [formControl]="dateMaterial" 
        ngxDaterangepickerMd
        [singleDatePicker]="true"
        [linkedCalendars]="true"
        [showCancel]="true"
        [showClearButton]="true"
        [timePicker]="true"
        [timePicker24Hour]="true"
        [showDropdowns]="true"
        [timePickerSeconds]="false"
        [timePickerIncrement]="1"
        [locale]="locale"
        [minDate]="currentDate"
      >
    </label>
    <button (click)="setTime()" class="btn btn-primary">Click me</button>
    <p>Value: {{ value }}</p>
  </div>
  <!-- <mat-card>
  <input type="text" matInput [formControl]="dateMaterial"
  ngxDaterangepickerMd
  [autoApply]="options.autoApply"
  [linkedCalendars]="options.linkedCalendars"
  [singleDatePicker]="options.singleDatePicker"
  applyLabel="Okay"
  [locale]="locale"
  [showDropdowns]="true"
  [minDate]="minDate"
  [showCancel]="options.showCancel"
  [showClearButton]="options.showClearButton"
  [timePicker]="timePicker"
  name="daterange"/>
</mat-card> -->
</div>