<div class="home-page">
  <h1 class="text-center">Green Planet</h1>
  <div class="row m-0 justify-content-center">
    <div class="col-md-8">
      <ul class="d-flex align-item-center justify-content-around flex-wrap p-0">
        <li>
          <a routerLink="/country/list">
            <img src="../../assets/images/world-map.jpg" alt="">
          </a>
        </li>
        <li>
          <a routerLink="">
            <img src="../../assets/images/ocean.jpeg" alt="">
          </a>
        </li>
        <li>
          <a routerLink="">
            <img src="../../assets/images/shopping.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
